/* You can add global styles to this file, and also import other style files */
body{
    background: rgb(195, 221, 231);
    margin: 0;
    height: 100vh;
}
#content ul li a{
    text-decoration: none;
    color: #00A8FF;
}
.row{
    height: 100%;
}